html,body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: gray;
    height: 50%;
    width: 20%;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    
}

.input {
    
    font-size: 30px;
    background-color: bisque;
    border: 2px solid black;
    height: 12%;
    width: 100%; 
}

.buttonKeys{
    border: 2px solid black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.key {
    width: 75px;
    height: 70px;
    margin: 0%;
    font-size: 30px;
}
